<app-funky-nav></app-funky-nav>
<div class="whole">
<div class="div">
    <img src="../../assets/me.jpg" class="image">
</div>
<div class="text">
        Email Id: shaibalini@gmail.com<br>
        LinkedIn: www.linkedin.com/in/shaibalinisahoo<br>
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3419.129137812763!2d77.93046411495544!3d27.203397483003304!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x397477fc94599e69%3A0x307c4932bc99860d!2sCFTI+HOSTEL!5e1!3m2!1sen!2sin!4v1555306158871!5m2!1sen!2sin" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
</div>
</div>