<app-funky-nav></app-funky-nav>
<div class="row">
    <div class="container">
        <img class="image" src="../../assets/karate.jpg">
    </div>
    <div class="container">
      <div class="text">
        16 years of Karate Training with three different styles.<br>
        Attended various tournaments at regional and national levels.
      </div>
        
    </div>
</div>
<div class="row">
    
    <div class="container">
      <div class="text">
      Lead Vocalist in a Band.<br>
      Attended auditions as well.
      </div>
        
    </div>
    <div class="container">
        <img class="image" src="../../assets/singing.jpg">
    </div>
</div>
<div class="row">
    <div class="container">
        <img class="image" src="../../assets/biking.jpg">
    </div>
    <div class="container">
      <div class="text">
        I love Biking.<br>
        I wish to be a part of a biking club and explore my beautiful country.
      </div>
      
    </div>
</div>
<p class="p">My youtube videos:</p>
<div class="row">
  <div class="container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/sfH11ZyOjDA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
  <div class="container">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/ipkbapewUbU" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  </div>
</div>
<h2>My Article on #MeToo:</h2>
<div class="text1">
    “She remembered who she was and the game changed”……..

    This quote by Lalah Deliah explains exactly what the me too movement is all about. Alyssa Milano used #metoo in her 2017 october 15thtweet expressing the sexual harassment she faced. Little did she know that this will turn out to be a revolutionary movement soon all around the world. From actors to journalists, politicians to businessmen, every profession is being questioned of its purity.
    
    <br>It took years for women to come out of their suppressed fears of getting judged under the social stigma. Tanushree Dutta being one of the initiators of this movement in the Bollywood industry took names that was heart breaking and shocking! Women all around the country are still fighting to come out and speak of what did they face. Well there are a lot of people who are supporting this movement irrespective of their genders, while some without any shame are still judging in terms of publicity stunts, bad feminism and what not!
    
    <br>Right from being a 12 year old little girl standing in her school uniform to a 70 year old granny waiting for her grandchildren to return from school…. Every woman has faced this trauma where men stare, wink, buzz around, tease, abuse, touch, feel !... a girl, a woman then might think, ‘shall I speak up... what will people say!’…
    
    When a country’s top lawyer Mr. Ram Jethmalani can defend Asaram bapu saying the girl who accused him of sexual assault is mentally ill! then there is deifinitely something that the people of the country should really think upon and it is nothing but the basic thinking and perspective of seeing a woman.
    
    <br>If #metoo can give this courage to woman to come out and speak about people and if this is what can help people question their basic conscience, then this is worth it!.
    
    #MeToo
</div>