h2{
    color: white;
    padding-top: 50px;
    padding-left: 80px;
}

.ang{
    display: inline;
}
.container {
    padding-top: 200px;
    position: relative;
    width: 30%;
    height: 30%;
  }
  
  .image {
    opacity: 1;
    display: block;
    width: 100%;
    height: auto;
    transition: .5s ease;
    backface-visibility: hidden;
  }
  
  .middle {
    transition: .5s ease;
    opacity: 0;
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
  }
  
  .container:hover .image {
    opacity: 0.3;
  }
  
  .container:hover .middle {
    opacity: 1;
  }
  
  .text {
    // background-color: rgb(30, 71, 32);
    color: white;
    font-size: 25px;
    padding: 16px 32px;
  }