<app-funky-nav></app-funky-nav>

<div class="row">
  <div class="container">
      <img class="image" src="../../assets/lang.png">
      <div class="middle">
          <div class="text">Languages</div>
        </div>
  </div>
  <div class="container">
     
      <img class="image" src="../../assets/Angular_full_color_logo.png">
      <div class="middle">
          <div class="text">Angular</div>
        </div>
  </div>
  <div class="container">
     
      <img class="image" src="../../assets/mongo.png">
      <div class="middle">
          <div class="text">Mongo DB</div>
        </div>
  </div>
  <div class="container">
     
      <img class="image" src="../../assets/node.png">
      <div class="middle">
          <div class="text">Node JS</div>
        </div>
  </div>
  <div class="container">
     
      <img class="image" src="../../assets/express.jpeg">
      <div class="middle">
          <div class="text">Express</div>
        </div>
  </div>
  
  <div class="container">
     
      <img class="image" src="../../assets/html.jpg">
      <div class="middle">
          <div class="text">HTML</div>
        </div>
  </div>
</div>
